<HTML>
<HEAD>
<TITLE>Views</TITLE>
<META content="text/html" http-equiv=Content-Type>
<LINK HREF="../HTMLReport.css" type=text/css rel=STYLESHEET>
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"firebird02.kinghost.net:/firebird/exatagrupo.gdb"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="../Index.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
          <A HREF="VW_AJUDACUSTO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">Views</P>
  </DIV>
</DIV>
<P CLASS="Base">&nbsp;</P>
<TABLE CLASS="dtArg" CELLSPACING="0" WIDTH=90%>
<TH WIDTH="30%"><P CLASS="Base2"><B>View</B></P>
<TH WIDTH="60"><P CLASS="Base2"><B>Description</B></P>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_AJUDACUSTO.html">VW_AJUDACUSTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_ALTERASENHA.html">VW_ALTERASENHA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_ANDAMENTOPROCESSO.html">VW_ANDAMENTOPROCESSO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_ANGARIADOR.html">VW_ANGARIADOR</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_ATIVIDADE.html">VW_ATIVIDADE</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_AUDITORIAQUESTAO_CHECK.html">VW_AUDITORIAQUESTAO_CHECK</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_AUDITORIATIPO.html">VW_AUDITORIATIPO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_AUDITORIATIPO_CHECK.html">VW_AUDITORIATIPO_CHECK</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_AUDITORIAVALOR.html">VW_AUDITORIAVALOR</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_BANCO.html">VW_BANCO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CAIXA.html">VW_CAIXA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CENTROCONTAPAGAR.html">VW_CENTROCONTAPAGAR</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CENTROCUSTO.html">VW_CENTROCUSTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CENTROMOVCAIXA.html">VW_CENTROMOVCAIXA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CIDADE.html">VW_CIDADE</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_COMISSAOCONTRATO.html">VW_COMISSAOCONTRATO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_COMISSAOFIXA.html">VW_COMISSAOFIXA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_COMISSAO_SINERGIA.html">VW_COMISSAO_SINERGIA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CONTACORRENTE.html">VW_CONTACORRENTE</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CONTAFIXA.html">VW_CONTAFIXA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CONTAGRUPO.html">VW_CONTAGRUPO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CONTAPAGAR.html">VW_CONTAPAGAR</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CONTRATO.html">VW_CONTRATO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_CONTRATOAUTO.html">VW_CONTRATOAUTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_EMPRESA.html">VW_EMPRESA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_ENTIDADE.html">VW_ENTIDADE</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_ESTADOCIVIL.html">VW_ESTADOCIVIL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FASEPROCESSO.html">VW_FASEPROCESSO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FILIAL.html">VW_FILIAL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FILTROAJCUST.html">VW_FILTROAJCUST</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FILTROAUDITORIA.html">VW_FILTROAUDITORIA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FOLHA.html">VW_FOLHA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FOLHA_EMP.html">VW_FOLHA_EMP</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FOLHA_EMP_ITEM.html">VW_FOLHA_EMP_ITEM</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FORMALIQUIDEZ.html">VW_FORMALIQUIDEZ</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FORMAPAGAMENTO.html">VW_FORMAPAGAMENTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FUNCIONARIOAGENCIA.html">VW_FUNCIONARIOAGENCIA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_FUNCREGIONAL.html">VW_FUNCREGIONAL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_GRUPO.html">VW_GRUPO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_GRUPOAUDITORIA.html">VW_GRUPOAUDITORIA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_GRUPOCONTA.html">VW_GRUPOCONTA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_GRUPOEMAIL.html">VW_GRUPOEMAIL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_LAYOUTCLASS.html">VW_LAYOUTCLASS</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_LAYOUTITEM.html">VW_LAYOUTITEM</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_LIGACAO.html">VW_LIGACAO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_LISTAEMAIL.html">VW_LISTAEMAIL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_LOG.html">VW_LOG</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_LOGIN.html">VW_LOGIN</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_MARCAVEICULO.html">VW_MARCAVEICULO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_MOTIVO.html">VW_MOTIVO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_MOTIVOLIGACAO.html">VW_MOTIVOLIGACAO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_MOVCAIXA.html">VW_MOVCAIXA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_MOVIMENTO.html">VW_MOVIMENTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_OCORPARCELACONTRATO.html">VW_OCORPARCELACONTRATO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_OPCAO.html">VW_OPCAO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_OPERACAO.html">VW_OPERACAO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_OPERACAO_USUARIO.html">VW_OPERACAO_USUARIO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_ORIGEMENTRADA.html">VW_ORIGEMENTRADA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PAGTOAJCUST.html">VW_PAGTOAJCUST</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PAGTOAJCUSTEMP.html">VW_PAGTOAJCUSTEMP</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PAGTOAJCUSTEMP2.html">VW_PAGTOAJCUSTEMP2</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PARCCONTRATOAUTO.html">VW_PARCCONTRATOAUTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PENDCONTRATOAUTO.html">VW_PENDCONTRATOAUTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PENDENCIACONTRATO.html">VW_PENDENCIACONTRATO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PGTOCONTRATOAUTO.html">VW_PGTOCONTRATOAUTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PLANOCONTA.html">VW_PLANOCONTA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PROCESSO.html">VW_PROCESSO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PRODUCAO_SUSPEITA.html">VW_PRODUCAO_SUSPEITA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PRODUTO.html">VW_PRODUTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_PRODUTO_ANGARIADOR.html">VW_PRODUTO_ANGARIADOR</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_QUESTAO.html">VW_QUESTAO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_QUESTIONARIO.html">VW_QUESTIONARIO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_REGIONAL.html">VW_REGIONAL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_RESULTADOLIGACAO.html">VW_RESULTADOLIGACAO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_SITUACAOCONTRATO.html">VW_SITUACAOCONTRATO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TABELAFUNCIONARIO.html">VW_TABELAFUNCIONARIO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TABELAPRODUTO.html">VW_TABELAPRODUTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TABELA_ANGARIADOR.html">VW_TABELA_ANGARIADOR</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOACAOJUDICIAL.html">VW_TIPOACAOJUDICIAL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOANGARIADOR.html">VW_TIPOANGARIADOR</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOCOMBUSTIVEL.html">VW_TIPOCOMBUSTIVEL</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOCONTACORRENTE.html">VW_TIPOCONTACORRENTE</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOCONTATO.html">VW_TIPOCONTATO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOFUNCAGENCIA.html">VW_TIPOFUNCAGENCIA</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOLOGRADOURO.html">VW_TIPOLOGRADOURO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOPENDCONTRATO.html">VW_TIPOPENDCONTRATO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_TIPOPENDCONTRATOAUTO.html">VW_TIPOPENDCONTRATOAUTO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_USUARIOGRUPO.html">VW_USUARIOGRUPO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2"><A HREF="VW_VEICULO.html">VW_VEICULO</A></TD><TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
</TABLE>

<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;This file was generated with SQL Manager 2005 for InterBase and Firebird (<A HREF="http://www.ibmanager.com/">www.ibmanager.com</A>) at 16/9/2009 08:54</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="../Index.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
        <A HREF="VW_AJUDACUSTO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P></BODY>
</HTML>
