<HTML>
<HEAD>
<TITLE>VW_COMISSAOCONTRATO</TITLE>
<META content="text/html" http-equiv=Content-Type>
<LINK HREF="../HTMLReport.css" type=text/css rel=STYLESHEET>
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"firebird02.kinghost.net:/firebird/exatagrupo.gdb"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VW_CIDADE.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
          <A HREF="VW_COMISSAOFIXA.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VW_COMISSAOCONTRATO</P>
  </DIV>
</DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Descriptions</P>
<P CLASS="Base">There is no description for view VW_COMISSAOCONTRATO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Columns</P>
<TABLE CLASS="dtArg" CELLSPACING="0" WIDTH=90%>
<TH WIDTH="10%"><P CLASS="Base2"><B>Column</B></P>
<TH WIDTH="10%"><P CLASS="Base2"><B>Type</B></P>
<TH WIDTH="70%"><P CLASS="Base2"><B>Description</B></P>
<TR>
<TD><P CLASS="Base2">CCNCODG</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCNCGCT</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCNMRCT</P></TD>
<TD><P CLASS="Base2">VARCHAR(15)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCYVLCT</P></TD>
<TD><P CLASS="Base2">FLOAT</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCNCGEN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCCNMEN</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCCDOEN</P></TD>
<TD><P CLASS="Base2">VARCHAR(14)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCCDCTN</P></TD>
<TD><P CLASS="Base2">VARCHAR(35)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCDCADT</P></TD>
<TD><P CLASS="Base2">TIMESTAMP</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCNPERC</P></TD>
<TD><P CLASS="Base2">FLOAT</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CCNVLCM</P></TD>
<TD><P CLASS="Base2">DOUBLE PRECISION</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
</TABLE>

<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base">There are no triggers for view VW_COMISSAOCONTRATO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base">
<blockquote><code><pre><basefont size=1 face="Courier New"><font size= +2>
<b>CREATE VIEW </b>VW_COMISSAOCONTRATO(
  CCNCODG,
  CCNCGCT,
  CCNMRCT,
  CCYVLCT,
  CCNCGEN,
  CCCNMEN,
  CCCDOEN,
  CCCDCTN,
  CCDCADT,
  CCNPERC,
  CCNVLCM)
<b>AS
SELECT
   </b>CCNCODG,
   CCNCGCT,
   CTNNUMR,
   CTYVALR,
   CCNCGEN,
   ENCNOME,
   ENCDOCM,
   TNCDESC,
   CCDCADT,
   CCNPERC,
   (CTYVALR * CCNPERC / 100)CCNVLCM
 <b>FROM
   </b>COMISSAOCONTRATO <b>LEFT JOIN </b>CONTRATO <b>ON
     </b>CTNCODG = CCNCGCT
   <b>LEFT JOIN </b>ENTIDADE <b>ON
     </b>ENNCODG = CCNCGEN
   <b>LEFT JOIN </b>ANGARIADOR <b>ON
     </b>ANNCGEN = CCNCGEN
   <b>LEFT JOIN </b>TIPOANGARIADOR <b>ON
     </b>TNNCODG = ANNCGTN
;

</font></basefont></pre></code></blockquote>
</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;This file was generated with SQL Manager 2005 for InterBase and Firebird (<A HREF="http://www.ibmanager.com/">www.ibmanager.com</A>) at 16/9/2009 08:49</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VW_CIDADE.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
        <A HREF="VW_COMISSAOFIXA.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P></BODY>
</HTML>
