<HTML>
<HEAD>
<TITLE>VW_CONTAPAGAR</TITLE>
<META content="text/html" http-equiv=Content-Type>
<LINK HREF="../HTMLReport.css" type=text/css rel=STYLESHEET>
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"firebird02.kinghost.net:/firebird/exatagrupo.gdb"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VW_CONTAGRUPO.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
          <A HREF="VW_CONTRATO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VW_CONTAPAGAR</P>
  </DIV>
</DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Descriptions</P>
<P CLASS="Base">There is no description for view VW_CONTAPAGAR</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Columns</P>
<TABLE CLASS="dtArg" CELLSPACING="0" WIDTH=90%>
<TH WIDTH="10%"><P CLASS="Base2"><B>Column</B></P>
<TH WIDTH="10%"><P CLASS="Base2"><B>Type</B></P>
<TH WIDTH="70%"><P CLASS="Base2"><B>Description</B></P>
<TR>
<TD><P CLASS="Base2">CPNCODG</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPDDATA</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPNFLQU</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCFLQU</P></TD>
<TD><P CLASS="Base2">VARCHAR(35)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPNCONT</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCCONT</P></TD>
<TD><P CLASS="Base2">VARCHAR(40)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPNFILI</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCFILI</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPNFORN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCFORN</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPNCOCO</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCCOCO</P></TD>
<TD><P CLASS="Base2">VARCHAR(127)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCDESC</P></TD>
<TD><P CLASS="Base2">VARCHAR(40)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCDOCM</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPYVALR</P></TD>
<TD><P CLASS="Base2">FLOAT</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPDPGTO</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPNCGEN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPCNMEN</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CPLATIV</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
</TABLE>

<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base">There are no triggers for view VW_CONTAPAGAR</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base">
<blockquote><code><pre><basefont size=1 face="Courier New"><font size= +2>
<b>CREATE VIEW </b>VW_CONTAPAGAR(
  CPNCODG,
  CPDDATA,
  CPNFLQU,
  CPCFLQU,
  CPNCONT,
  CPCCONT,
  CPNFILI,
  CPCFILI,
  CPNFORN,
  CPCFORN,
  CPNCOCO,
  CPCCOCO,
  CPCDESC,
  CPCDOCM,
  CPYVALR,
  CPDPGTO,
  CPNCGEN,
  CPCNMEN,
  CPLATIV)
<b>AS
SELECT
   </b>CPNCODG,
   CPDDATA,
   CPNFLQU,
   FLQCDESC,
   CPNCONT,
   PLCCDESC,
   FLNCODG,
   FLCNOME,
   CPNFORN,
   E1.ENCNOME,
   CONCODG,
   (BCCDESC ||' - AG:'|| COCAGEN ||' - C:'||COCNUMR||' ('||TCTCDESC||')') COCDESC,
   CPCDESC,
   CPCDOCM,
   CPYVALR,
   CPDPGTO,
   CPNCGEN,
   E2.ENCNOME,
   CPLATIV
 <b>FROM
   </b>CONTAPAGAR <b>LEFT JOIN </b>FORMALIQUIDEZ <b>ON
     </b>CPNFLQU = FLQNCODG
   <b>LEFT JOIN </b>PLANOCONTA <b>ON
     </b>PLCNCODG = CPNCONT
   <b>LEFT JOIN </b>ENTIDADE E1 <b>ON
     </b>E1.ENNCODG = CPNFORN
   <b>LEFT JOIN </b>FILIAL <b>ON
     </b>CPNFILI = FLNCODG
   <b>LEFT JOIN </b>ENTIDADE E2 <b>ON
     </b>E2.ENNCODG = CPNCGEN
   <b>LEFT JOIN </b>CONTACORRENTE <b>ON
     </b>CPNCOCO = CONCODG
   <b>LEFT JOIN </b>BANCO <b>ON
     </b>CONCGBC = BCNCODG
   <b>LEFT JOIN </b>TIPOCONTACORRENTE <b>ON
     </b>TCTNCODG = CONTCON
 <b>WHERE </b>CPLATIV = 'T'
;

</font></basefont></pre></code></blockquote>
</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;This file was generated with SQL Manager 2005 for InterBase and Firebird (<A HREF="http://www.ibmanager.com/">www.ibmanager.com</A>) at 16/9/2009 08:50</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VW_CONTAGRUPO.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
        <A HREF="VW_CONTRATO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P></BODY>
</HTML>
