<HTML>
<HEAD>
<TITLE>VW_CONTRATO</TITLE>
<META content="text/html" http-equiv=Content-Type>
<LINK HREF="../HTMLReport.css" type=text/css rel=STYLESHEET>
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"firebird02.kinghost.net:/firebird/exatagrupo.gdb"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VW_CONTAPAGAR.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
          <A HREF="VW_CONTRATOAUTO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VW_CONTRATO</P>
  </DIV>
</DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Descriptions</P>
<P CLASS="Base">There is no description for view VW_CONTRATO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Columns</P>
<TABLE CLASS="dtArg" CELLSPACING="0" WIDTH=90%>
<TH WIDTH="10%"><P CLASS="Base2"><B>Column</B></P>
<TH WIDTH="10%"><P CLASS="Base2"><B>Type</B></P>
<TH WIDTH="70%"><P CLASS="Base2"><B>Description</B></P>
<TR>
<TD><P CLASS="Base2">CTNCODG</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNNUMR</P></TD>
<TD><P CLASS="Base2">VARCHAR(15)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNC2EN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCNMCL</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCCPF</P></TD>
<TD><P CLASS="Base2">VARCHAR(14)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCGEN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCNMAN</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTYVALR</P></TD>
<TD><P CLASS="Base2">FLOAT</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCOMS</P></TD>
<TD><P CLASS="Base2">DOUBLE PRECISION</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTYCOMS</P></TD>
<TD><P CLASS="Base2">DOUBLE PRECISION</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTDVERB</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTDPGTO</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCGFP</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCDCFP</P></TD>
<TD><P CLASS="Base2">VARCHAR(35)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCGSC</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCDCSC</P></TD>
<TD><P CLASS="Base2">VARCHAR(35)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTLPGCM</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCGPD</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCDCPD</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCGTP</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCDCTP</P></TD>
<TD><P CLASS="Base2">VARCHAR(43)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCMRTP</P></TD>
<TD><P CLASS="Base2">VARCHAR(5)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNQTPC</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNEXAT</P></TD>
<TD><P CLASS="Base2">FLOAT</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTYEXAT</P></TD>
<TD><P CLASS="Base2">DOUBLE PRECISION</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTYSPRE</P></TD>
<TD><P CLASS="Base2">DOUBLE PRECISION</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNPRAZ</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTLFISI</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTDBXFI</P></TD>
<TD><P CLASS="Base2">TIMESTAMP</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTDEXTN</P></TD>
<TD><P CLASS="Base2">TIMESTAMP</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCADT</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCCADT</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTTCADT</P></TD>
<TD><P CLASS="Base2">TIME</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTDCADT</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTLAUDI</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNCGBC</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCDCBC</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCAGEN</P></TD>
<TD><P CLASS="Base2">VARCHAR(6)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTYTARI</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTDSQOP</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTNSQOP</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTCSQOP</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">CTLATIV</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
</TABLE>

<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base">There are no triggers for view VW_CONTRATO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base">
<blockquote><code><pre><basefont size=1 face="Courier New"><font size= +2>
<b>CREATE VIEW </b>VW_CONTRATO(
  CTNCODG,
  CTNNUMR,
  CTNC2EN,
  CTCNMCL,
  CTCCPF,
  CTNCGEN,
  CTCNMAN,
  CTYVALR,
  CTNCOMS,
  CTYCOMS,
  CTDVERB,
  CTDPGTO,
  CTNCGFP,
  CTCDCFP,
  CTNCGSC,
  CTCDCSC,
  CTLPGCM,
  CTNCGPD,
  CTCDCPD,
  CTNCGTP,
  CTCDCTP,
  CTCMRTP,
  CTNQTPC,
  CTNEXAT,
  CTYEXAT,
  CTYSPRE,
  CTNPRAZ,
  CTLFISI,
  CTDBXFI,
  CTDEXTN,
  CTNCADT,
  CTCCADT,
  CTTCADT,
  CTDCADT,
  CTLAUDI,
  CTNCGBC,
  CTCDCBC,
  CTCAGEN,
  CTYTARI,
  CTDSQOP,
  CTNSQOP,
  CTCSQOP,
  CTLATIV)
<b>AS
SELECT
   </b>CTNCODG,
   CTNNUMR,
   CTNC2EN,
   EN1.ENCNOME,
   EN1.ENCDOCM,
   CTNCGEN,
   EN2.ENCNOME,
   CTYVALR,
   (<b>SELECT SUM</b>(COMISSAOCONTRATO.CCNPERC) <b>FROM
     </b>COMISSAOCONTRATO <b>WHERE </b>CCNCGCT = CTNCODG) CTNCOMS,
   (<b>SELECT </b>(<b>SUM</b>(COMISSAOCONTRATO.CCNPERC)*CTYVALR/100) <b>FROM
     </b>COMISSAOCONTRATO <b>WHERE </b>CCNCGCT = CTNCODG) CTYCOMS,
   CTDVERB,
   CTDPGTO,
   CTNCGFP,
   FPCDESC,
   CTNCGSC,
   SCCDESC,
   SCLPGCM,
   PDNCODG,
   PDCDESC,
   CTNCGTP,
   TPCNUMR ||' - '||TPCDESC,
   TPCNUMR,
   TPNQTPC,
   CTNEXAT,
   (CTNEXAT*CTYVALR/100) CTYEXAT,
   (CTNEXAT*CTYVALR/100)- (<b>SELECT </b>(<b>SUM</b>(COMISSAOCONTRATO.CCNPERC)*CTYVALR/100) <b>FROM
     </b>COMISSAOCONTRATO <b>WHERE </b>CCNCGCT = CTNCODG) CTYSPRE,
   TPNPRAZ,
   CTLFISI,
   CTDBXFI,
   CTDEXTN,
   CTNCADT,
   EN3.ENCNOME,
   <b>CAST</b>(CTDCADT <b>AS TIME</b>) CTDCADT,
   <b>CAST</b>(CTDCADT <b>AS DATE</b>) CTDCADT,   
   CTLAUDI,
   CTNCGBC,
   BCCDESC,
   CTCAGEN,
   IIF((<b>SELECT SUM</b>(CCNPERC) <b>FROM
     </b>COMISSAOCONTRATO
     <b>WHERE </b>CCNCGCT = CTNCODG
     <b>AND </b>CCNCGEN = CTNCGEN) &gt; 0 <b>AND </b>CTNCGFP = 2,
     IIF((<b>SELECT </b>(<b>SUM</b>(CCNPERC)*CTYVALR/100) <b>FROM
     </b>COMISSAOCONTRATO <b>WHERE </b>CCNCGCT = CTNCODG
     <b>AND </b>CCNCGEN = CTNCGEN) <b>BETWEEN </b>0 <b>AND </b>100,2,4),0) CTYTARI,
   CTDSQOP,
   CTNSQOP,
   EN4.ENCNOME,
   CTLATIV
 <b>FROM
   </b>CONTRATO <b>LEFT JOIN </b>ENTIDADE EN1 <b>ON
     </b>CTNC2EN = EN1.ENNCODG
   <b>LEFT JOIN </b>ENTIDADE EN2 <b>ON
     </b>CTNCGEN = EN2.ENNCODG
   <b>LEFT JOIN </b>ENTIDADE EN3 <b>ON
     </b>CTNCADT = EN3.ENNCODG
   <b>LEFT JOIN </b>ENTIDADE EN4 <b>ON
     </b>CTNSQOP = EN4.ENNCODG
   <b>LEFT JOIN </b>FORMAPAGAMENTO <b>ON
     </b>FPNCODG = CTNCGFP
   <b>LEFT JOIN </b>SITUACAOCONTRATO <b>ON
     </b>SCNCODG = CTNCGSC
   <b>LEFT JOIN </b>TABELAPRODUTO <b>ON
     </b>TPNCODG = CTNCGTP
   <b>LEFT JOIN </b>PRODUTO <b>ON
     </b>TPNCGPD = PDNCODG
   <b>LEFT JOIN </b>BANCO <b>ON
     </b>BCNCODG = CTNCGBC
 --<b>WHERE </b>CTLATIV = 'T'
;

</font></basefont></pre></code></blockquote>
</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;This file was generated with SQL Manager 2005 for InterBase and Firebird (<A HREF="http://www.ibmanager.com/">www.ibmanager.com</A>) at 16/9/2009 08:50</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VW_CONTAPAGAR.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
        <A HREF="VW_CONTRATOAUTO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P></BODY>
</HTML>
