<HTML>
<HEAD>
<TITLE>VW_MOVIMENTO</TITLE>
<META content="text/html" http-equiv=Content-Type>
<LINK HREF="../HTMLReport.css" type=text/css rel=STYLESHEET>
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"firebird02.kinghost.net:/firebird/exatagrupo.gdb"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VW_MOVCAIXA.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
          <A HREF="VW_OCORPARCELACONTRATO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VW_MOVIMENTO</P>
  </DIV>
</DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Descriptions</P>
<P CLASS="Base">There is no description for view VW_MOVIMENTO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Columns</P>
<TABLE CLASS="dtArg" CELLSPACING="0" WIDTH=90%>
<TH WIDTH="10%"><P CLASS="Base2"><B>Column</B></P>
<TH WIDTH="10%"><P CLASS="Base2"><B>Type</B></P>
<TH WIDTH="70%"><P CLASS="Base2"><B>Description</B></P>
<TR>
<TD><P CLASS="Base2">MOVNCODG</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVDDATA</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVDVENC</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNCGGPC</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCDCGPC</P></TD>
<TD><P CLASS="Base2">VARCHAR(40)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNCGCOG</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCDCCOG</P></TD>
<TD><P CLASS="Base2">VARCHAR(40)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNCGORE</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCDCORE</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNFLQU</P></TD>
<TD><P CLASS="Base2">VARCHAR(35)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCFLQU</P></TD>
<TD><P CLASS="Base2">VARCHAR(35)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNQTPC</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNNRPC</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNFILI</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCFILI</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCDESC</P></TD>
<TD><P CLASS="Base2">VARCHAR(80)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCDOCM</P></TD>
<TD><P CLASS="Base2">VARCHAR(80)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVYVALR</P></TD>
<TD><P CLASS="Base2">FLOAT</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNCADT</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCCADT</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVDCADT</P></TD>
<TD><P CLASS="Base2">TIMESTAMP</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNFORN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCFORN</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVNCOCO</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVCCOCO</P></TD>
<TD><P CLASS="Base2">VARCHAR(127)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVLTIPO</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">MOVLATIV</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
</TABLE>

<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base">There are no triggers for view VW_MOVIMENTO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base">
<blockquote><code><pre><basefont size=1 face="Courier New"><font size= +2>
<b>CREATE VIEW </b>VW_MOVIMENTO(
  MOVNCODG,
  MOVDDATA,
  MOVDVENC,
  MOVNCGGPC,
  MOVCDCGPC,
  MOVNCGCOG,
  MOVCDCCOG,
  MOVNCGORE,
  MOVCDCORE,
  MOVNFLQU,
  MOVCFLQU,
  MOVNQTPC,
  MOVNNRPC,
  MOVNFILI,
  MOVCFILI,
  MOVCDESC,
  MOVCDOCM,
  MOVYVALR,
  MOVNCADT,
  MOVCCADT,
  MOVDCADT,
  MOVNFORN,
  MOVCFORN,
  MOVNCOCO,
  MOVCCOCO,
  MOVLTIPO,
  MOVLATIV)
<b>AS
SELECT
   </b>MOVNCODG,
   MOVDDATA,
   MOVDVENC,
   GPCNCODG,
   GPCCDESC,
   MOVNCGCOG,
   COGCDESC,
   MOVNCGORE,
   MOVNFLQU,
   FLQCDESC,
   ORECDESC,
   MOVNQTPC,
   MOVNNRPC,
   MOVNFILI,
   FLCNOME,
   MOVCDESC,
   MOVCDOCM,
   MOVYVALR,
   MOVNCADT,
   CD.ENCNOME,
   MOVDCADT,
   MOVNFORN,
   FN.ENCNOME,
   MOVNCOCO,
   (BCCDESC ||' - AG:'|| COCAGEN ||' - C:'||COCNUMR||' ('||TCTCDESC||')') MOVCCOCO,
   MOVLTIPO,
   MOVLATIV
 <b>FROM
   </b>MOVIMENTO
   <b>LEFT JOIN </b>FORMALIQUIDEZ <b>ON
     </b>MOVNFLQU = FLQNCODG
   <b>INNER JOIN </b>CONTAGRUPO <b>ON
      </b>COGNCODG = MOVNCGCOG
   <b>INNER JOIN </b>GRUPOCONTA <b>ON
      </b>COGNCGGPC = GPCNCODG
   <b>LEFT JOIN </b>ORIGEMENTRADA <b>ON
      </b>ORENCODG = MOVNCGORE
   <b>LEFT JOIN </b>FILIAL <b>ON
     </b>FLNCODG = MOVNFILI
   <b>LEFT JOIN </b>ENTIDADE CD <b>ON
     </b>MOVNCADT = CD.ENNCODG
   <b>LEFT JOIN </b>ENTIDADE FN <b>ON
     </b>MOVNFORN = FN.ENNCODG
   <b>LEFT JOIN </b>CONTACORRENTE <b>ON
     </b>MOVNCOCO = CONCODG
   <b>LEFT JOIN </b>TIPOCONTACORRENTE <b>ON
     </b>CONTCON = TCTNCODG
   <b>LEFT JOIN </b>BANCO <b>ON
     </b>CONCGBC = BCNCODG
;

</font></basefont></pre></code></blockquote>
</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;This file was generated with SQL Manager 2005 for InterBase and Firebird (<A HREF="http://www.ibmanager.com/">www.ibmanager.com</A>) at 16/9/2009 08:52</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VW_MOVCAIXA.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
        <A HREF="VW_OCORPARCELACONTRATO.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P></BODY>
</HTML>
