<HTML>
<HEAD>
<TITLE>VW_OPERACAO_USUARIO</TITLE>
<META content="text/html" http-equiv=Content-Type>
<LINK HREF="../HTMLReport.css" type=text/css rel=STYLESHEET>
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"firebird02.kinghost.net:/firebird/exatagrupo.gdb"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VW_OPERACAO.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
          <A HREF="VW_ORIGEMENTRADA.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VW_OPERACAO_USUARIO</P>
  </DIV>
</DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Descriptions</P>
<P CLASS="Base">There is no description for view VW_OPERACAO_USUARIO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Columns</P>
<TABLE CLASS="dtArg" CELLSPACING="0" WIDTH=90%>
<TH WIDTH="10%"><P CLASS="Base2"><B>Column</B></P>
<TH WIDTH="10%"><P CLASS="Base2"><B>Type</B></P>
<TH WIDTH="70%"><P CLASS="Base2"><B>Description</B></P>
<TR>
<TD><P CLASS="Base2">OPNCODG</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">OPNPART</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">OPCDESC</P></TD>
<TD><P CLASS="Base2">VARCHAR(45)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">OPCHINT</P></TD>
<TD><P CLASS="Base2">VARCHAR(100)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">OPCLINK</P></TD>
<TD><P CLASS="Base2">VARCHAR(100)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">OPNCGEN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
</TABLE>

<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base">There are no triggers for view VW_OPERACAO_USUARIO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base">
<blockquote><code><pre><basefont size=1 face="Courier New"><font size= +2>
<b>CREATE VIEW </b>VW_OPERACAO_USUARIO(
  OPNCODG,
  OPNPART,
  OPCDESC,
  OPCHINT,
  OPCLINK,
  OPNCGEN)
<b>AS
SELECT
   </b>OPNCODG,
   OPNPART,
   OPCDESC,
   OPCHINT,
   OPCLINK,
   ENNCODG
 <b>FROM
   </b>USUARIOOPERACAO <b>LEFT JOIN </b>OPERACAO <b>ON
     </b>OPNCODG = UONCGOP
   <b>LEFT JOIN </b>ENTIDADE <b>ON
     </b>ENNCODG = UONCGUS
 <b>WHERE </b>OPLATIV = 'T'
 <b>UNION ALL
 SELECT
   </b>OPNCODG,
   OPNPART,
   OPCDESC,
   OPCHINT,
   OPCLINK,
   ENNCODG
 <b>FROM
   </b>OPERACAOGRUPO <b>LEFT JOIN </b>OPERACAO <b>ON
     </b>OPNCODG = GONCGOP
   <b>LEFT JOIN </b>GRUPO <b>ON
     </b>GONCGGR = GRNCODG
   <b>LEFT JOIN </b>USUARIOGRUPO <b>ON
     </b>UGNCGGR = GRNCODG
   <b>LEFT JOIN </b>ENTIDADE <b>ON
     </b>ENNCODG = UGNCGUS
 <b>WHERE </b>OPLATIV = 'T'
;

</font></basefont></pre></code></blockquote>
</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;This file was generated with SQL Manager 2005 for InterBase and Firebird (<A HREF="http://www.ibmanager.com/">www.ibmanager.com</A>) at 16/9/2009 08:52</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VW_OPERACAO.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
        <A HREF="VW_ORIGEMENTRADA.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P></BODY>
</HTML>
