<HTML>
<HEAD>
<TITLE>VW_PROCESSO</TITLE>
<META content="text/html" http-equiv=Content-Type>
<LINK HREF="../HTMLReport.css" type=text/css rel=STYLESHEET>
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"firebird02.kinghost.net:/firebird/exatagrupo.gdb"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VW_PLANOCONTA.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
          <A HREF="VW_PRODUCAO_SUSPEITA.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VW_PROCESSO</P>
  </DIV>
</DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Descriptions</P>
<P CLASS="Base">There is no description for view VW_PROCESSO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Columns</P>
<TABLE CLASS="dtArg" CELLSPACING="0" WIDTH=90%>
<TH WIDTH="10%"><P CLASS="Base2"><B>Column</B></P>
<TH WIDTH="10%"><P CLASS="Base2"><B>Type</B></P>
<TH WIDTH="70%"><P CLASS="Base2"><B>Description</B></P>
<TR>
<TD><P CLASS="Base2">PRONCODG</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONCODG2</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONCGEN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCNMCL</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRODNASC</P></TD>
<TD><P CLASS="Base2">DATE</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCCPF</P></TD>
<TD><P CLASS="Base2">VARCHAR(14)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCSEXO</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONC2EN</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCNMCN</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCNUMR</P></TD>
<TD><P CLASS="Base2">VARCHAR(20)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONCGTAC</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCDCTAC</P></TD>
<TD><P CLASS="Base2">VARCHAR(40)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCLOCA</P></TD>
<TD><P CLASS="Base2">VARCHAR(200)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCOBS</P></TD>
<TD><P CLASS="Base2">BLOB SUB_TYPE 1</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONCADT</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCCADT</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONALTE</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCALTE</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRODDATA</P></TD>
<TD><P CLASS="Base2">TIMESTAMP</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRODALTE</P></TD>
<TD><P CLASS="Base2">TIMESTAMP</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCUFCD</P></TD>
<TD><P CLASS="Base2">VARCHAR(2)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCDCCD</P></TD>
<TD><P CLASS="Base2">VARCHAR(50)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONCGCD</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONCGTL</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCDCTL</P></TD>
<TD><P CLASS="Base2">VARCHAR(25)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCLOGR</P></TD>
<TD><P CLASS="Base2">VARCHAR(70)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCFONE</P></TD>
<TD><P CLASS="Base2">VARCHAR(10)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCFONE2</P></TD>
<TD><P CLASS="Base2">VARCHAR(10)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCCEP</P></TD>
<TD><P CLASS="Base2">VARCHAR(8)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCBAIR</P></TD>
<TD><P CLASS="Base2">VARCHAR(35)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONCONS</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCCONS</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PRONSUPE</P></TD>
<TD><P CLASS="Base2">INTEGER</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROCSUPE</P></TD>
<TD><P CLASS="Base2">VARCHAR(60)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
<TR>
<TD><P CLASS="Base2">PROLATIV</P></TD>
<TD><P CLASS="Base2">CHAR(1)</P></TD>
<TD><P CLASS="Base2">&nbsp;</P></TD>
</TR>
</TABLE>

<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base">There are no triggers for view VW_PROCESSO</P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base">
<blockquote><code><pre><basefont size=1 face="Courier New"><font size= +2>
<b>CREATE VIEW </b>VW_PROCESSO(
  PRONCODG,
  PRONCODG2,
  PRONCGEN,
  PROCNMCL,
  PRODNASC,
  PROCCPF,
  PROCSEXO,
  PRONC2EN,
  PROCNMCN,
  PROCNUMR,
  PRONCGTAC,
  PROCDCTAC,
  PROCLOCA,
  PROCOBS,
  PRONCADT,
  PROCCADT,
  PRONALTE,
  PROCALTE,
  PRODDATA,
  PRODALTE,
  PROCUFCD,
  PROCDCCD,
  PRONCGCD,
  PRONCGTL,
  PROCDCTL,
  PROCLOGR,
  PROCFONE,
  PROCFONE2,
  PROCCEP,
  PROCBAIR,
  PRONCONS,
  PROCCONS,
  PRONSUPE,
  PROCSUPE,
  PROLATIV)
<b>AS
SELECT
   </b>PRONCODG,
   PRONCODG2,
   PRONCGEN,
   CL.ENCNOME,
   CL.ENDNASC,
   CL.ENCDOCM,
   CL.ENCSEXO,
   PRONC2EN,
   CN.ENCNOME,
   PROCNUMR,
   PRONCGTAC,
   TACCDESC,
   PROCLOCA,
   PROCOBS,
   PRONCADT,
   US.ENCNOME,
   PRONALTE,
   EN.ENCNOME,
   PRODDATA,
   PRODALTE,
   CDCUF,
   CDCDESC,
   CDNCODG,
   TLNCODG,
   TLCDESC,
   CL.ENLENDR,
   CL.ENCFONE,
   CL.ENCCELL,
   CL.ENCCEP,
   CL.ENCBAIR,
   PRONCONS,
   CS.ENCNOME,
   PRONSUPE,
   SU.ENCNOME,
   PROLATIV
 <b>FROM
   </b>PROCESSO <b>INNER JOIN </b>ENTIDADE CL <b>ON
      </b>CL.ENNCODG = PRONCGEN
   <b>LEFT JOIN </b>ENTIDADE CN <b>ON
      </b>CN.ENNCODG = PRONC2EN
   <b>INNER JOIN </b>TIPOACAOJUDICIAL <b>ON
      </b>TACNCODG = PRONCGTAC
   <b>INNER JOIN </b>ENTIDADE US <b>ON
      </b>US.ENNCODG = PRONCADT
   <b>LEFT JOIN </b>ENTIDADE EN <b>ON
      </b>EN.ENNCODG = PRONALTE
   <b>LEFT JOIN </b>CIDADE <b>ON
      </b>CDNCODG = CL.ENNCGCD
   <b>LEFT JOIN </b>TIPOLOGRADOURO <b>ON
      </b>TLNCODG = CL.ENNCGTL
   <b>LEFT JOIN </b>ENTIDADE CS <b>ON
      </b>CS.ENNCODG = PRONCONS
   <b>LEFT JOIN </b>ENTIDADE SU <b>ON
      </b>SU.ENNCODG = PRONSUPE
;

</font></basefont></pre></code></blockquote>
</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;This file was generated with SQL Manager 2005 for InterBase and Firebird (<A HREF="http://www.ibmanager.com/">www.ibmanager.com</A>) at 16/9/2009 08:53</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VW_PLANOCONTA.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.bmp" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.bmp" BORDER="0"></A>
        <A HREF="VW_PRODUCAO_SUSPEITA.html"><IMG ALT="Next topic" SRC="../Images/GoNext.bmp" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P></BODY>
</HTML>
